@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../fonts/Inter-roman.var.woff2?v=3.11") format("woff2");
}
html{
  background-color:white;
}
* {
  padding: 0;
  margin: 0;
}
body {
  cursor: default;
  background-color:white;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  overflow-x: hidden;
}
.transition{
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  z-index: 200;
  cursor: pointer;
  transition: .9s ease;
  background-color:rgba(243, 244, 245,1);
  clip-path: polygon(0 0, 130% 0, 100% 0, 0 0);
  animation: transition 2s cubic-bezier(0.87, 0, 0.13, 1);
  animation-iteration-count: 1;
}
@keyframes transition {
  0% {
  clip-path: polygon(0 100%, 100% 145%, 100% 0, 0 0);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
/* top navigation */
nav {
  mix-blend-mode: exclusion;
  display:block;
  font-size:20px;
  padding:10px;
  margin:10px;
  z-index:100;
}
nav a{
  position:absolute;
  z-index:100;
}
.backnav{
  fill:white;
}
.backnav:hover{
  text-decoration: underline;
}
.homeicon, .contacticon,.abouticon{
  position:fixed;
  top:0px;
}
.homeicon{
  left:0px;
}
.contacticon{
  right:100px;
}
.abouticon{
  right:200px;
}
.Cursor{
  position:fixed;
  width:30px;
  height:30px;
  background-color:#ff4952;
  mix-blend-mode:exclusion;
  transform-origin: center center;
  opacity:.3;
  box-sizing:border-box;
  transition: .4s cubic-bezier(.19,1,.22,1);
  transform: translate(-50%, -50%);
  border-radius:50%;
  pointer-events:none;
  z-index:1000;
}
.intro{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  max-width: 1000px;
  font-size: 81px;
  padding: 7% 0px 2% 50px;
  color: #233042;
  z-index: 10;
  text-align: left;
}
.intro a{
  color:#233042;
}
.intro a:hover{
  color:#8f949c;
}
#overlay {
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  z-index: 200;
  cursor: pointer;
  transition: .9s ease;
  clip-path:circle(0.0% at 14% 43%);
  background-color:#4287f5;
}
#text{
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 36px;
  color: white;
  text-align: center;
  transform: translate(-50%,-50%);
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
}
#overlayabout{
  position: fixed;
  width:100%;
  height:100%;
  top: 0;
  z-index: 200;
  cursor: pointer;
  transition: .9s ease;
  clip-path:circle(0.0% at 40% 43%);
  background-color:#4287f5;
}
#textabout{
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 36px;
  color: white;
  text-align: center;
  transform: translate(-50%,-50%);
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
}
button{
  border: none;
  background-color: rgba(1,1,1,0);
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
  color: #4287f5;
  font-size: 81px;
}
button:focus{
  outline: none;
}
button:hover ~ .Cursor{
  width:150px;
  height:150px;
  background-color:#4287f5;
}
.sub{
  position:relative;
  z-index:10;
  max-width: 320px;
  font-size: 18px;
  padding: 20px 0px 20px 50px;
  color:#233042;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:left;
}
.sub a{
  color:#4287f5;
  font-family: p22-mackinac-pro, serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  font-size:20px;
}
.sub a:hover{
  text-decoration: underline;
}
p{
  font-size:17px;
  line-height:1.6;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  color:#8f949c;
}
/* everything inside project preview wrapper */
.projects{
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-direction: column;
}
.previewbox{
  position:fixed;
  bottom:150px;
  right:150px;
  width:500px;
  height:290px;
  background-color:#d1d5ff;
  transform:rotate(7deg)scale(1.1);
  opacity:.4;
  z-index:1;
  transition:.4s ease;
  border-radius:10px;
  transform-origin: center;
  animation: transition2 4s cubic-bezier(0.87, 0, 0.13, 1);
}
@keyframes transition2 {
  0% {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  30% {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  }
  100%{
    clip-path: polygon(0 100%, 100% 145%, 100% 0, 0 0);
  }
}
.projsection{
  max-width:400px;
  padding:50px;
  z-index: 10;
}
.name{
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: italic;
  color:#233042;
  font-size: 36px;
  flex: 1;
  line-height: 1.2;
  text-decoration: none;
}
.projectlink{
  text-decoration: none;
}
.projectlink .hidden{
  position:fixed;
  opacity:0;
  visibility: hidden;
  transform: translate3d(-5px,0,0);
  clip-path: circle(0% at 99% 99%);
  transition: .4s ease;
}
.projectlink:hover .hidden{
  visibility: visible;
  opacity: 1;
  transform: translate3d(0,0,0);
  clip-path: circle(100% at 50% 50%);
  transform: rotate(-7deg);
}
.arrow{
  position: relative;
  left: 0;
  transition: ease-in-out 0.2s;
  visibility: hidden;
  opacity:0;
  transform: translate3d(-5px,0,0);
}
.projectlink:hover .arrow{
  left:10px;
  visibility: visible;
  opacity: 1;
  transform: translate3d(0,0,0);
}
/* cometta project hover */
#comettapreview.hidden{
  bottom:100px;
  right:300px;
}
.rotateimg{
  width:170px;
  border-radius:30px;
  border:10px ridge #24242a;
  box-shadow: 10px 10px 37px -25px rgba(0,0,0,0.75);
  transform: rotate3d(1, 1, 1, 0deg);
  animation: rotate-animation 5s ease infinite;
}
@-webkit-keyframes rotate-animation {
  0% {
    transform: rotate3d(1, 1, 1, 35deg);
  }
  50% {
    transform: rotate3d(1, 1, 1, -35deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 35deg);
  }
}
/* ted project hover */
.scaleted{
  width:300px;
}
.tedimg{
}
#ted.projectlink:hover .hidden{
  transform: rotate(7deg);
}
#tedxpreview.hidden{
  bottom:150px;
  right:250px;
}
/* task ninja project hover */
.scaleninja{
  width:400px;
}
#ninja.projectlink:hover .hidden{
  transform: rotate(-7deg);
}
#ninjapreview.hidden{
  bottom:150px;
  right:200px;
}
/* band link section */
.band{
  overflow: hidden;
  position: relative;
  border-top:1px solid black;
  border-bottom:1px solid black;
  transform:rotate(4deg);
  margin-top:10%;
  margin-bottom:5%;
  margin-left:-50px;
  z-index:20;
  width:120%;
}
#marquee{
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size:81px;
  color:#233042;
  padding:10px;
  transform:translateX(-99%);
  animation: demo-1 40s linear infinite;
  animation-play-state: running;
  white-space: nowrap;
}
.band:hover > #marquee{
  animation-play-state: paused;
}
.band a{
  text-decoration: none;
  color:#233042;
}
.band a:hover{
  font-style: italic;
}
@keyframes demo-1 {
 0%   {
 transform: translateX(-99%);
 }
 50%{
   transform: translateX(0%);
 }
 100%   {
 transform: translateX(-99%);
 }
}
/* footer sections */
footer{
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  font-size:15px;
  display:flex;
  justify-content:flex-start;
  align-items:flex-start;
  flex-flow: row wrap;
  position:relative;
  z-index:100;
  color:#8f949c;
}
footer a{
  color:#8f949c;
  text-decoration: none;
}
footer a:hover{
  color:#233042;
  text-decoration: underline;
}
.projnav, .contact, .siteinfo{
  padding:50px;
}
/* project pages */
/* title/hero section */
.headingproj{
  display:flex;
  top:0px;
  width:100%;
  height:70vh;
  margin-bottom:-5%;
  justify-content: center;
  align-items:center;
}
.projtitle{
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size:3em;
  color:#233042;
}
#comettatitle, #tedxtitle{
  text-align:center;
}
/* project body section */
.main{
  background-color: white;
}
.headimg{
  position:absolute;
  top:-5%;
  left:20px;
  width:20%;
  opacity:.7;
}
.headimg2{
  position:absolute;
  bottom:10%;
  right:-10%;
  width:20%;
  opacity:.7;
}
.subheading{
  color:#233042;
  position:relative;
  display: block;
  font-size:24px;
  padding-bottom:10px;
  padding-top:10px;
  line-height: normal;
  /* font:30px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif; */
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 550 ;
}
.subheadingdark{
  color:white;
}
.paragraph{
  display: block;
  position: relative;
  max-width: 666px;
  padding:0% 5% 0% 5%;
  margin: 20px auto;
  color:rgba(0,0,0,0.77);
  color:#8f949c;
  /*font:17px/1.5 -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif; */
  font-size:17px;
  line-height:1.6;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 400 ;
}
.paragraph strong {
  font-size:17px;
  line-height:1.5;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 500 ;
  color:#4287f5;
}
.paragraph a{
  color:#4287f5;
}
.paragraphsplit{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding:3% 3% ;
  font-size:17px;
  line-height:1.5;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  background-color:rgba(35, 48, 66,.05);
  border-radius: 10px;
  margin:5%;
}
.paragraphsplit span{
  margin-right:5%;
  width:100%;
}
.paragraphsplitvid{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-content: center;
  background-color:#fbfbfb;
  padding:5%;
  margin:5%;
  border-radius:2%;
  overflow:hidden;
}
.paragraphsplitvid span{
  width:300px;
}
video{
  margin:2%;
  border-radius: 10px;
}
.tedimages{
  width:50%;
  display:block;
  filter:contrast(80%);
  margin:auto;
  padding:5%;
}
.comettaimages{
  width:60%;
  display:block;
  margin:auto;
  padding:5%;
}
.imgs{
    width:100%;
    height:auto;
    display: block;
    margin: auto;
}
.comettagifs{
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  justify-content:center;
  padding:4%;
  margin-top:5%;
  margin-bottom:5%;
  background-color:rgba(17,15,17,1);
  max-width:1400px;
  margin:auto;
}
.tedgifs{
  background-color:#fbf6f7;
}
.gifs{
  order:1;
  flex-grow:1;
  margin:3%;
  width:400px;
}
blockquote {
  margin-top: 2%;
  margin-bottom: 2%;
}
blockquote span{
  display: block;
  padding: 5%;
  font-size: 45px;
  color:#233042;
  text-align: center;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 550 ;
  max-width: 700px;
  margin:auto;
}
.nextp{
}
.nextp a{
  text-decoration:none;
  color:#233042;
  transition:.4s ease;
  font-family: p22-mackinac-pro, serif;
  font-weight: 400;
  font-style:normal;
}
.nextp a:hover{
  color:#8f949c;
}
/* about page */
.aboutsplit{
  display:flex;
  flex-flow:row wrap;
  align-items: flex-start;
  justify-content:flex-start;
  font-size:17px;
  line-height:1.5;
  font-family: 'Inter var';
  font-family: 'Inter', sans-serif;
  font-weight: 400 ;
  border-radius: 10px;
  margin:0px 0px 0px 50px;
}
.aboutitem{
  margin-right:40px;
  max-width:400px;
}
.connectitem{
  margin-right:40px;
  max-width:600px;
  font-size: 25px;
}

/* under 900px */
@media only screen and (max-width: 900px) {
  .previewbox{
  }
  .hidden img{
    visibility: hidden;
  }
  .band{
    width:110%;
    margin-left:-20px;
  }
  #marquee{
    animation-play-state: running;
  }
  .comettaimages{
    width:80%;
    display:block;
    margin:auto;
    padding:3%;
  }
}

/* under 600px */
@media only screen and (max-width: 600px) {
  /* top navigation */
  .homeicon, .contacticon,.abouticon{
    position:absolute;
    top:0px;
  }
  .contacticon{
    right:70px;
  }
  .abouticon{
    right:140px;
  }
  .intro{
    padding:20% 30px 30px 30px;
    font-size: 36px;
  }
  button{
    font-size:36px;
  }
  .name{
    font-size: 36px;
  }
  .arrow{
    visibility: visible;
    opacity:1;
    transform: translate3d(0,0,0);
  }
  .name:hover .arrow{
    left:0px;
  }
  .sub{
    padding:30px;
    font-size:
  }
  /* everything inside project preview wrapper under 600 */
  .projects{
    padding:30px;
  }
  .previewbox{
    visibility: hidden;
  }
  .projsection{
    padding:30px 0px;
  }
  .projectlink .hidden{
    top:40%;
    right: 50px;
    position:fixed;
  }
  .projectlink:hover .hidden{
    visibility: hidden;
  }
  /* footer stuff under 600 */
  .projnav, .contact, .siteinfo{
    padding:30px;
  }
  /* project pages stuff under 600 */
  .projtitle{
    font-size:2em;
  }
  .comettaimages{
    width:100%;
    display:block;
    margin:auto;
    padding:0%;
  }
  .paragraphsplit{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    padding:5% 5% ;
  }
  .aboutsplit{
    margin:0px 0px 0px 30px;
  }
}
/* make this overlay thing not work on safari */
_::-webkit-full-page-media, _:future, :root .safari_only {

  #overlay, #overlayabout{
    display:none;
  }

}
@media not all and (min-resolution:.001dpcm) { @media {

    #overlay{
      display:none;
    }
    #overlayabout{
      display:none;
    }
    .transition{
    display:none;
  }
}}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

  #overlay{
    display:none;
  }
  #overlayabout{
    display:none;
  }
  .transition{
    display:none;
  }
}}
