html{
    scroll-behavior: smooth;
    min-height:100vh;
}
/* Optional CSS to prevent elements from temporarily disappearing when scrolling back up */
html.has-scroll-smooth {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;  
}

body{
    font-family: Helvetica, Arial, sans-serif;
    padding:0.7% 0.7% 0px 0.7%;
    /* padding:0px; */
    color:rgb(36, 36, 36);
    background-color: #fafafa; 
    margin:auto;
    overflow-x: hidden;
    max-width: 100%;
    height:100%;
}

.container{
    /* margin-top:50px; */
    display:block;
    position:relative;
    height: 10000px;
    /* height:100%; */
    /* position:absolute; */
}

.twocolumn{
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;

}
.smallvid{
    width:49.5%;
}

.divflex{
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    align-items: flex-start;

}
.flexchild{
    flex-grow:1;
    width:200px;
}
.flexchild2{
    flex-grow:2;
    min-width:50vw;
}
.flexchild3{
    flex-grow:2;
}

p{
    margin:3px 0% 3px 0%;
    font-size:12px;
    max-width: 400px;
    line-height: 137%;
    color:rgb(126, 126, 126);
}
.desc{
    color:rgb(36, 36, 36);
}
.display{

    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2px;

    font-size: 3.7em;
    line-height: 100%;
    height:100%;
    padding-bottom:18px;
    color:rgb(36, 36, 36);
}
.display2{

    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -2px;

    font-size: 3.7em;
    line-height: 100%;
    height:100%;
    padding-bottom:18px;
    color:rgba(90, 90, 90, 0.5);
}
a{
    color:rgb(126, 126, 126);
}

.top{
    margin-bottom:30vh;
}
video{
    width:100%;
    height: auto;
    margin:5% 0% 5% 0%;
    position:relative;
    display:block;
}
.second{
    margin:-4% 0% 5% 0%;
}

img{
    width:100%;
    height: auto;
    margin:5% 0% 5% 0%;
    position:relative;
    display:block;

}
.experiment{
    margin-top:20px;
    display:grid;
    grid-template-areas:
    "1a 2a 3a 4a"
    "1b 2b 3b 4b"
    "1c 2c 3c 4c"
    "1d 2d 3d 4d"
    "1e 2e 3e 4e"
    "1f 2f 3f 4f"
    "1g 2g 3g 4g"
    "1h 2h 3h 4h"
    "1i 2i 3i 4i"
    "1j 2j 3j 4j";
    column-gap: 5px;
    row-gap: 5px;
}

.img__small{
    width:100%;
    height:100%;
    margin:0px;
    border:1px dotted lightgray;
    /* filter:saturate(0%); */
    transition:.4s ease;
}
.img__small:hover{
    /* filter:saturate(100%); */
}
.footer{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    letter-spacing: -0.27vw;
    line-height: 97%;

    font-size:9vw;
    margin:2% 0% 2% 0%;
    color:black;
    position:absolute;
    bottom:0;
    left:0;    
}
.footer span{
    font-weight: 700;
}
.footer p{
    letter-spacing: 0px;
}
@media only screen and (max-width: 1500px) {
    .topvid{
    margin-top:100px;
    } 
    .container{
        height: 100%;
    }
}
@media only screen and (max-width: 1300px) {
    .topvid{
    margin-top:100px;
    } 
    .container{
        height: 9900px;
    }
}
@media only screen and (max-width: 900px) {
    .topvid{
    margin-top:100px;
    } 
    .container{
        height: 100%;
    }
    .footer{
        position:relative;
    }
}
@media only screen and (max-width: 600px) {
    .topvid{
    margin-top:100px;
    } 
}
@media only screen and (max-width: 430px) {
    .smallvid{
    width:100%;
    }
    .footer{
        position:relative;
    }
    .container{
        height: 100%;
    }
    .experiment{
        margin-top:20px;
        display:grid;
        grid-template-areas:
        "1a 2a" 
        "3a 4a"
        "1b 2b" 
        "3b 4b"
        "1c 2c" 
        "3c 4c"
        "1d 2d" 
        "3d 4d"
        "1e 2e"
        "3e 4e"
        "1f 2f" 
        "3f 4f"
        "1g 2g" 
        "3g 4g"
        "1h 2h" 
        "3h 4h"
        "1i 2i" 
        "3i 4i"
        "1j 2j" 
        "3j 4j";
        column-gap: 5px;
        row-gap: 5px;
    }
}


